
.self-form-item 
  height: 40px;
  min-height: 40px;
  .cube-form-label 
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
  .cube-btn  
    background: #fff;
    color: rgba(0, 0, 0, 0.6);
    text-align: right;
    padding: 10px;
  .cube-input  
    input  
      padding: 10px 0;
     
   
 