// 字体大小规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px

// 颜色规范
$color-header-background = rgb(250,250,250)
$color-theme = rgb(100,198,163)
$color-text-l = rgba(0, 0, 0, 0.8)
$color-text-ll = rgba(0, 0, 0, 0.6)

$color-header-border = #E0E0E0	
$color-icon-right = rgb(205,205,205)
$color-background = #F3F3F3
$color-white = #fff
$color-mingxi = rgba(114,114,114,0.2)


//new color
$background-body = #d0d0d0
$background-color-header = #B02925
$background-color-header-top = #E93228
$bello-active = #FF5918
$pure-white = #fff
$background-list-header = #d0d0d0
$font-color-list-header = #999
$color-border = rgba(242,242,242,0.8)
$color-catalog-header = rgb(242, 242, 242)
$color-dialog-background = #666
// 字体颜色
$color-warning = #F56C6C
$color-required = rgb(250,50,50)
$color-success = #4bbc80
$color-loadmore = #366
$color-grey = #666
$color-light-grey = #EEE
$avatar-background = #63B8FF
$base-golden = #B39343
$base-red = #E93228
$base-grey = #E7E5E4
